<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond $1 !^(index\\.php|images|css|js|theme|client|server|robots\\.txt)
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php/$1 [QSA,PT,L]
</IfModule>

