<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>活动天地</title>
    <script src="/resources/js/jquery-1.10.2.min.js"></script>
    <script src="/resources/js/jquery.md5.js"></script>
    <script src="/resources/js/bootstrap.js"></script>
    <script src="/resources/js/base.js"></script>
    <script src="/resources/js/student_index.js"></script>
    <link href="/resources/css/bootstrap.css" rel="stylesheet"/>
    <link href="/resources/css/base.css" rel="stylesheet"/>
    <link href="/resources/css/student_index.css" rel="stylesheet"/>
</head>
<body>
    <div class="student-index-main">
        <div class="student-index-toparea">
            <div class="student-index-topbtnarea">
                <div class="student-index-topbtn active" type="index">
                    首页
                </div>
                <div class="student-index-topbtn active" type="personal_center">
                    个人中心
                </div>
                <div class="student-index-topbtn" type="teacher_recommend">
                    教师推荐
                </div>
                <div class="student-index-topbtn" type="group_activety">
                    小组活动
                </div>
                <div class="student-index-topbtn" type="honor_box">
                    荣誉箱
                </div>
                <div class="student-index-topbtn" type="friends_circle">
                    好友圈
                </div>
                <div class="student-index-topbtn" type="notification">
                    消息通知
                </div>
                <div class="clear"></div>
            </div>
            <div class="student-index-topinfoarea">
            </div>
        </div>
        <div class="student-index-centerarea">
        </div>
    </div>
</body>