<script id="student_indexpage_template" type="text/html">
    <div class="student-indexpage-center">
        <div class="student-indexpage-box" onclick="invokeClick($('.student-index-topbtn:eq(2)')[0])">
            教师推荐
        </div>
        <div class="student-indexpage-box">
            我的活动
        </div>
        <div class="student-indexpage-box">
            听力录音
        </div>
        <a class="student-indexpage-box" href="/student/grammar" target="_blank">
            语法学习园
        </a>
        <div class="clear"></div>
    </div>
</script>