body{
	font-family: helvetica,Arial,"微软雅黑","Microsoft Yahei","hiragino kaku gothic pro",meiryo,"ms pgothic",sans-serif;
	word-break:break-all;
	background-color: #EDB810;
	background-image: -moz-linear-gradient(top,#EDB810,#fff);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#EDB810),to(#fff));
	background-image: -webkit-linear-gradient(top,#EDB810,#fff);
	background-image: -o-linear-gradient(top,#EDB810,#fff);
	background-image: linear-gradient(to bottom,#EDB810,#fff);
	background-attachment:fixed;
}
.activitycircle-login-main{
	width: 600px;
	margin: 150px auto 0px auto;
	text-align: center;
}
.activitycircle-login-title{
	font-size: 50px;
	font-weight: 900;
	color: rgb(9,123,200);
}
.activitycircle-login-box{
	position: relative;
	overflow: hidden;
	height: 320px;
	width: 400px;
	border: 4px solid #fff;
	border-radius: 10px;
	padding: 30px 10px;
	margin: 20px auto;
	background-color: #fff;
	opacity: 0.7;
	box-shadow: 0px 2px 3px #000;
}
.activitycircle-login-area{
	position: absolute;
	left: 0px;
	width: 392px;
	height: 300px;
}
.activitycircle-register-area{
	position: absolute;
	left: 500px;
	width: 392px;
	height: 300px;
}
.activitycircle-login-input{
	width: 200px;
	height: 26px;
	margin: 10px;
}
.activitycircle-login-select{
	width: 100px;
	height: 26px;
	margin: 10px 10px 10px 6px;
}
.activitycircle-login-btn{
	margin: 10px;
	width: 136px;
	font-size: 15px;
	font-weight: 900;
}
.activitycircle-changetab{
	font-size: 12px;
	text-decoration: underline;	
	cursor: pointer;
}
.activitycircle-register-btn{
	margin: 10px;
	width: 136px;
	font-size: 15px;
	font-weight: 900;
}
.activitycircle-login-box-title{
	font-size: 26px;
	font-weight: 900;
}