.activitycircle-addfriends-area{
	border-bottom:2px solid #ccc;
	padding-bottom: 20px;
}
.activitycircle-friends-newfriends-title{
	font-size: 20px;
	float: left;
	line-height: 27px;
}
.activitycircle-friends-input{
	padding: 0px 5px;
	float: left;
	margin: 0px 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 15px;
	line-height: 27px;
}
.activitycircle-friends-area{
	margin: 20px auto;
	width: 970px;
}
.activitycircle-friends-box{
	position: relative;
	float: left;
	width: 230px;
	height: 130px;
	margin: 0px 12px 12px 0px;
	background: #d2ebff;
	overflow: hidden;
	text-align: left;
	padding: 15px;
}
.activitycircle-friends-box:hover > .activitycircle-friends-delete-btn{
	display: block;
}
.activitycircle-friends-delete-btn{
	position: absolute;
	font-size: 14px;
	color: #777;
	right: 85px;
	top: 15px;
	display: none;
	cursor: pointer;
}
.activitycircle-friends-delete-btn:hover{
	text-decoration: underline;
}
.activitycircle-friends-name{
	font-size: 15px;
	margin-bottom: 10px;
}
.activitycircle-friends-studentnumber{
	font-size: 13px;
	margin: 20px 0px 10px 0px;
}
.activitycircle-friends-motto{
	width: 200px;
	font-size: 13px;
	margin: 20px 0px 10px 0px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.activitycircle-friends-box-avatar{
	width: 60px;
	height: 60px;
	float: right;
	cursor: pointer;
}
.activitycircle-friends-message-send-box{
	position: absolute;
	top:-400px;
	left: 50%;
	margin-left: -300px;
	width: 580px;
	height: 330px;
	background-color: #fff;
	border:1px solid #000;
	z-index: 100001;
	padding: 10px;
}
.activitycircle-friends-message-send-box-title{
	font-size: 30px;
	font-weight: 900;
	text-align: center;
}
.activitycircle-friends-message-send-info{
	font-size: 15px;
	margin: 5px 0px 0px 0px;
}
.activitycircle-friends-message-title{
	padding: 0px 5px;
	width: 512px;
}
.activitycircle-friends-message-send-textarea{
	margin: 8px 0px;
	height: 140px !important;
	width: 512px;
	resize: none;
	padding: 5px;
	display: inline-block;
}
.activitycircle-friends-message-send-btn{
	width: 100px;
	font-size: 15px;
	padding: 3px;
	float: right;
	margin-top: 8px;
}